; BLE-Scanner
; Wird von der Plugin-Oberflaeche geschrieben.

[CONFIG]
adapter=hci0
themenpraefix=blescanner
mqtt=1
http_push=0
loxberry_id=
intervall=5
abwesenheit_nach=30
aktualisierung=60
rssi_nah=-65
rssi_mittel=-85
